{
        "lanCacheEnabled": false,
        "appPreference": 50,
        "operatingMode": "Authoritative",
        "enableDebugLogging": false,
        "domainsDataUrl": "https://github.com/uklans/cache-domains/archive/refs/heads/master.zip",
        "domainsDataPathPrefix": "cache-domains-master/",
        "domainsUpdatePeriodHours": 24,
        "globalCacheAddresses": ["lancache.example.com"],
        "cacheAddresses": {
                "steam": ["lancache.example.com"]
        },
        "enabledCaches": ["steam"],
        "disabledCaches": ["wsus"]
}